@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 239, 246, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 241, 245, 249;
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 31, 41, 55;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    135deg,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-end-rgb)) 50%,
    rgb(var(--background-start-rgb)) 100%
  );
}
